<app-main-new title="Edit Project">
    <form [formGroup]="form" (ngSubmit)="submit(form)">
        <md-input-container floatingPlaceholder=true style="width: 100%">
          <input mdInput placeholder="Name" formControlName="name">
        </md-input-container>
        <md-input-container floatingPlaceholder=true style="width: 100%">
          <input mdInput placeholder="Repository URL" formControlName="repoUrl">
        </md-input-container>
        <md-input-container floatingPlaceholder=true style="width: 100%">
          <input mdInput placeholder="Site URL" formControlName="siteUrl">
        </md-input-container>
        <md-input-container floatingPlaceholder=true style="width: 100%">
          <textarea mdInput placeholder="Description" formControlName="description"></textarea>
        </md-input-container>
        <p>
          <button md-raised-button color="accent"  type="submit" [disabled]="!form.valid">Submit</button>
        </p>
      </form>
</app-main-new>
