<app-main title="">
    <md-card>
        <md-card-content>
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <md-input-container fxFlexFill>
                <input mdInput name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="admin.admin" />
              </md-input-container>
              <div *ngIf="f.submitted && !username.valid" class="alert alert-danger">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <md-input-container fxFlexFill>
                <input mdInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="jwtpass"
                />
              </md-input-container>
              <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">Password is required</div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" md-raised-button color="accent" type="submit">Sign In</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </md-card-content>
      </md-card>
</app-main>
