<md-sidenav-container>
 
  <md-sidenav #sidenav class="sidenav">
    <app-side-menu>
      <app-side-menu-item *ngIf="isAuthenticated" primaryTitle="Logout" routerLinkUrl="/" icon="face" (click)="logout(); sidenav.close()"></app-side-menu-item> 
      <app-side-menu-item primaryTitle="Home" routerLinkUrl="/" icon="Home" (click)="sidenav.close()"></app-side-menu-item>
      <app-side-menu-item primaryTitle="Blog" routerLinkUrl="/blog" icon="comments" (click)="sidenav.close()"></app-side-menu-item>
      <app-side-menu-item primaryTitle="Projects" routerLinkUrl="/projects" icon="list" (click)="sidenav.close()"></app-side-menu-item>
    </app-side-menu>
  </md-sidenav>

  <app-header title="{{title}}" sourceCodeUrl="https://github.com/ivans-innovation-lab/my-company-angular-fe">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </app-header>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</md-sidenav-container>