<md-toolbar>
  <h1>{{title}}</h1>

  <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
  </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item [routerLink]="['/blog']">Blog</button>
  <button md-menu-item [routerLink]="['/projects']">Projects</button>
  <button *ngIf="isAdminUser" class="md-warn" md-menu-item (click)="logout()">Logout admin</button>
  <button *ngIf="isUser" class="md-warn" md-menu-item (click)="logout()">Logout user</button>
</md-menu>

<div class="app-content">
  <router-outlet></router-outlet>
</div>