<app-main-detail title="Blog detail">
  <md-tab-group>
    <md-tab label="Properties">
      <md-card>
        <md-card-title>{{blogPost?.title}}</md-card-title>
        <md-card-subtitle>
          <p>{{blogPost?.category}} | Draft: {{blogPost?.draft}} | {{blogPost?.publishAt | date}}</p>
        </md-card-subtitle>
        <md-card-content>
          {{blogPost?.renderContent}}
        </md-card-content>
      </md-card>
    </md-tab>
    <md-tab label="Actions">
    </md-tab>
  </md-tab-group>
</app-main-detail>