<app-main-detail title="Project detail">
  <md-tab-group>
    <md-tab label="Properties">
      <md-list class="app-list" *ngIf="project">
        <md-list-item>
          Name: {{project.name}}
        </md-list-item>
        <md-list-item>
          Repo URL: {{project.repoUrl}}
        </md-list-item>
        <md-list-item>
          Site URL: {{project.siteUrl}}
        </md-list-item>
        <md-list-item>
          Description: {{project.description}}
        </md-list-item>
        <md-list-item>
          Category: {{project.category}}
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="Actions">

      <md-nav-list>
        <h4 md-subheader>Actions</h4>
        <a md-list-item routerLink="action/edit">
          <md-icon md-list-icon>mode_edit</md-icon>
          <span md-line>Edit</span>
          <span md-line>Project</span>
        </a>
      </md-nav-list>
    </md-tab>
  </md-tab-group>
</app-main-detail>
