/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/*check teh index.html*//*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

 .app-content {
    padding: 20px;
  }

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #f4f6f9;
  }
 .active {

    color: #f4f6f9;
    background-color: indigo;
  }
