md-card.mat-card{
    background-image: url("../../assets/img/digital-transformation.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
}
md-card.mat-card p{
    font-size:140%;
    font-family:palatino;
    font-style: italic;
    color:white;
    // background-color: white;
}