<app-main title="">
  <md-card>
   <p> " The trust of our clients is our main focus. We are accompanying your digital transformation and ensure creating value for you. "</p>
   <p> " We make sure that you deliver quality soulutions fast. "</p>
   <p> " We analyze current technology environment, </p>
   <p>   and recommend solutions for improvement. "</p>
   <p> " We have exposure to multiple platforms."</p>
   <p> " We understand the political climate, and we are able to navigate the politics."</p>
   <p> " We define architecture and design principles to guide technology decisions."</p>
   <p> " We ensure compliance with the architecture."</p>
   <p> " We possess exceptional interpersonal skills. "</p>
   <p> " You inovate. We live your successes."</p>
   <p> " Let's shake the market !"</p>
  </md-card>
</app-main>